<mat-chip-listbox multiple>
    <mat-chip-option [selected]="columnSelectorButtons.birthDate" (click)="toggleColumns(['birthDate'])">Birth
      Date</mat-chip-option>

    <mat-chip-option [selected]="columnSelectorButtons.email" (click)="toggleColumns(['email'])">E-mail</mat-chip-option>

    <mat-chip-option [selected]="columnSelectorButtons.phone" (click)="toggleColumns(['phone'])">Phone</mat-chip-option>

    <mat-chip-option [selected]="columnSelectorButtons.department" (click)="toggleColumns(['department'])">Department</mat-chip-option>

    <mat-chip-option [selected]="columnSelectorButtons.position" (click)="toggleColumns(['position'])">Position</mat-chip-option>

    <mat-chip-option [selected]="columnSelectorButtons.supervisor" (click)="toggleColumns(['supervisor'])">Supervisor</mat-chip-option>

  </mat-chip-listbox>
  
  
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by firstName">
        First name
      </mat-header-cell>
      <mat-cell *matCellDef="let employee" [routerLink]="['/employee', employee.id]"> {{employee.firstName}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastName">
        Last name
      </mat-header-cell>
      <mat-cell *matCellDef="let employee" [routerLink]="['/employee', employee.id]"> {{employee.lastName}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="birthDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by birthDate">
        Birth Date
      </mat-header-cell>
      <mat-cell *matCellDef="let employee" [routerLink]="['/employee', employee.id]">
  
        {{ employee.birthDate ?
        (this.dateService.returnTimestampAsDateString(employee.birthDate) + ' (Age: ' +
        this.dateService.returnAge(employee.birthDate)) + ')' : '' }}
  
      </mat-cell>
  
    </ng-container>
  
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
        E-mail
      </mat-header-cell>
      <mat-cell *matCellDef="let employee" [routerLink]="['/employee', employee.id]"> {{employee.email}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone">
        Phone
      </mat-header-cell>
      <mat-cell *matCellDef="let employee" [routerLink]="['/employee', employee.id]"> {{employee.phone}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="department">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by department">
        Department
      </mat-header-cell>
      <mat-cell *matCellDef="let employee" [routerLink]="['/employee', employee.id]"> {{employee.department}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by position">
        Position
      </mat-header-cell>
      <mat-cell *matCellDef="let employee" [routerLink]="['/employee', employee.id]"> {{employee.position}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="supervisor">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by supervisor">
        Supervisor
      </mat-header-cell>
      <mat-cell *matCellDef="let employee" [routerLink]="['/employee', employee.id]"> {{employee.supervisor}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="options">
      <mat-header-cell class="options-cell" *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell class="options-cell" *matCellDef="let employee">
  
        <button mat-icon-button [matMenuTriggerFor]="rowMenu" (click)="setDocumentInFocus(employee.id)">
          <mat-icon>more_vert</mat-icon>
        </button>
  
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  
  
  </mat-table>
  
  
  <button id="button-add" mat-fab color="primary" matTooltip="Add employee" [matTooltipPosition]="'left'"
    (click)="openAddEmployeeDialog()">
    <mat-icon>add</mat-icon>
  </button>
  
  
  <mat-menu #rowMenu="matMenu">
    <button mat-menu-item (click)="openEditEmployeeDialog()">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="openDeleteEmployeeDialog()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>