<mat-card-content>
    <mat-card-title>
        Most Sales
    </mat-card-title>

    <section>


        @if (topEmployee.imageUrl) {

        <img [src]="'./assets/img/profiles/' + topEmployee.imageUrl" alt="top employee profile image">

        } @else {

        <img src="./assets/img/profile_placeholder.svg" alt="placeholder for profile">
        }



        <span id="name" [innerHTML]="topEmployee.firstName + ' ' + topEmployee.lastName"></span>

        @if (revenue) {

        <span>{{'Last six months: ' + revenue + '€'}}</span>
        }
    </section>


</mat-card-content>