<mat-card id="top-card" color="primary">

    @if (employee.imageUrl) {

    <img id="profile-img" [src]="'./assets/img/profiles/' + employee.imageUrl" alt="profile image">

    } @else {

    <img id="profile-img" src="./assets/img/profile_placeholder.svg" alt="placeholder for profile">
    }

    <mat-card-header>
        <mat-card-title>{{ employee.firstName + ' ' + employee.lastName }}</mat-card-title>
        <mat-card-subtitle>

            @if (employee.email) {

            <a mat-raised-button href="mailto:{{ employee.email }}">
                <mat-icon>mail</mat-icon>
                {{ employee.email }}
            </a>
            } @else {

            <button mat-raised-button (click)="openEditEmployeeDialog('name+email+phone')">
                <mat-icon>mail</mat-icon>
                Add e-mail
            </button>
            }

            @if (employee.phone) {

            <a mat-raised-button href="tel:{{ employee.phone }}">
                <mat-icon>call</mat-icon>
                {{ employee.phone }}
            </a>
            } @else {

            <button mat-raised-button (click)="openEditEmployeeDialog('name+email+phone')">
                <mat-icon>call</mat-icon>
                Add phone
            </button>
            }

        </mat-card-subtitle>
    </mat-card-header>

    <button class="card-options" mat-icon-button [matMenuTriggerFor]="menu1">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu1="matMenu">
        <button mat-menu-item (click)="openEditEmployeeDialog('name+email+phone')">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
    </mat-menu>

</mat-card>



<mat-card id="middle-card">

    <mat-card-title>
        About
    </mat-card-title>

    <section class="double-columns">

        <div>
            <mat-card-subtitle>
                Position
            </mat-card-subtitle>
            {{ employee.position }}
        </div>

        <div>
            <mat-card-subtitle>
                Department
            </mat-card-subtitle>
            {{ employee.department }}
        </div>

        <button class="card-options" mat-icon-button [matMenuTriggerFor]="menu2">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="openEditEmployeeDialog('position+department')">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
        </mat-menu>

    </section>

    <mat-divider></mat-divider>

    <section class="double-columns">

        <div>
            <mat-card-subtitle>
                Date of Birth
            </mat-card-subtitle>
            {{ employee.birthDate ?
            (dateService.returnTimestampAsDateString(employee.birthDate) + ' (Age: ' +
            dateService.returnAge(employee.birthDate)) + ')' : '' }}
        </div>

        <div>
            <mat-card-subtitle>
                Supervisor
            </mat-card-subtitle>

            @if (linkToSupervisor.length) {

            <a mat-raised-button [routerLink]="linkToSupervisor">
                {{ commonService.returnFormattedName(employee.supervisor) }}
            </a>

            } @else {
            {{ employee.supervisor ? commonService.returnFormattedName(employee.supervisor) : '' }}
            }

        </div>

        <button class="card-options" mat-icon-button [matMenuTriggerFor]="menu3">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu3="matMenu">
            <button mat-menu-item (click)="openEditEmployeeDialog('birthDate+supervisor')">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
        </mat-menu>

    </section>

</mat-card>

<mat-card id="bottom-card">

    <mat-card-title>
        Closings

        <div id="accordion-buttons">
            <button mat-raised-button (click)="accordion.openAll()">Expand All</button>
            <button mat-raised-button (click)="accordion.closeAll()">Collapse All</button>
        </div>

    </mat-card-title>

    <mat-accordion class="example-headers-align" multi>

        @for (transfer of closings; track $index) {

        <mat-expansion-panel>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{transfer.title}}
                </mat-panel-title>
                <mat-panel-description>
                    <div>
                        <mat-icon>euro</mat-icon>
                        {{transfer.amount}}
                    </div>

                    <div>
                        <mat-icon>calendar_month</mat-icon>
                        {{ dateService.returnTimestampAsDateString(transfer.date) }}
                    </div>

                </mat-panel-description>
                <mat-divider></mat-divider>
            </mat-expansion-panel-header>

            <div class="expanded-container">
                {{ commonService.returnFormattedName(transfer.payer) }}
                <mat-icon>arrow_forward</mat-icon>
                {{ commonService.returnFormattedName(transfer.recipient) }}

            </div>

            <a class="button-open-transaction-details" mat-icon-button matTooltip="Transaction details"
                [matTooltipPosition]="'left'" [routerLink]="['/transfers', transfer.id]" target="_blank">
                <mat-icon>open_in_new</mat-icon>
            </a>


        </mat-expansion-panel>

        <mat-divider></mat-divider>

        }
    </mat-accordion>
</mat-card>

<div id="buttons">
    <button id="button-edit" mat-fab color="primary" matTooltip="Edit employee" [matTooltipPosition]="'left'"
        (click)="openEditEmployeeDialog('all')">
        <mat-icon>edit</mat-icon>
    </button>

    <button id="button-delete" mat-fab color="primary" matTooltip="Delete employee" [matTooltipPosition]="'left'"
        (click)="openDeleteEmployeeDialog()">
        <mat-icon>delete</mat-icon>
    </button>
</div>