#top-card {
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    padding: 24px;
    background-color: #7B1FA2;
    position: relative;

    #profile-img {

        height: 100%;
        width: unset;
        border-radius: 16px;
    }

    mat-card-title {
        margin-bottom: 8px;
        padding: 0;
    }

    mat-card-subtitle {
        display: flex;
        gap: 8px;
        align-items: center;
    }


}

#middle-card {
    display: flex;
    flex-direction: column;

    section {
        padding: 24px;
        position: relative;

        mat-card-subtitle {
            padding-bottom: 4px;
        }
    }
}

#bottom-card {
    display: flex;
    flex-direction: column;
    gap: 24px;

    mat-card-title {
        display: flex;
        justify-content: space-between;

        #accordion-buttons {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    mat-expansion-panel {
        box-shadow: none;
        margin: 0;
        position: relative;

        .expanded-container {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        mat-panel-description {
            display: flex;
            align-items: center;
            gap: 16px;

            div {
                width: 100px;
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }

        .button-open-transaction-details {
            position: absolute;
            // bottom: 8px;
            // right: 8px;
            bottom: 4px;
            right: 4px;
        }
    }

    mat-divider:last-of-type {

        display: none;
    }
}



mat-card-title {
    padding: 24px;
    padding-bottom: 0;
}

.double-columns {
    display: flex;
    flex-direction: row;
    gap: 16px;

    div {
        width: calc(50% - 8px);
    }
}

.card-options {
    position: absolute;
    right: 8px;
    top: 8px;
}

#button-edit {
    position: fixed;
    right: 24px;
    bottom: 96px;
}

#button-delete {
    position: fixed;
    right: 24px;
    bottom: 24px;
}