<mat-sidenav-container>

  <mat-sidenav #sidenav [mode]="isMobileView ? 'over' : 'side'" [opened]="!isMobileView">

    <div id="sidenav-container">

      <div id="logo-container" routerLink="dashboard">

        <img src="./assets/img/logo/logo_white.png" alt="logo purple">
        <span>Easy-CRM</span>

      </div>

      <div id="navbar">

        <div>
          <a mat-fab extended color="primary" routerLink="dashboard" routerLinkActive="router-link-active">
            <mat-icon>assignment</mat-icon>
            Dashboard
          </a>

          <a mat-fab extended color="primary" routerLink="contacts" routerLinkActive="router-link-active">
            <mat-icon>person</mat-icon>
            Contacts
          </a>

          <a mat-fab extended color="primary" routerLink="transfers" routerLinkActive="router-link-active">
            <mat-icon>sync_alt</mat-icon>
            Transactions
          </a>

          <a mat-fab extended color="primary" routerLink="employees" routerLinkActive="router-link-active">
            <mat-icon>badge</mat-icon>
            Employees
          </a>
        </div>

        <div id="imprint-links">
          <a mat-button routerLink="imprint" target="_blank">Imprint</a>

          <a mat-button routerLink="data-protection" target="_blank">Data protection</a>
        </div>

      </div>

    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar id="toolbar" color="primary">

      <button mat-icon-button #toggleSidenavButton class="example-icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span [innerHtml]="title">Title</span>

    </mat-toolbar>

    <div id="router-container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>