<h2>Imprint</h2>
<p>Details according to § 5 TMG</p>
<p>Maximilian Schuh <br>Heideweg 9<br>85598 Baldham<br></p>
<h3>Contact:</h3>
<p>E-mail: <a href='mailto:max@mjschuh.com'>max&#64;mjschuh.com</a></p>
<h3>Disclaimer</h3>
<h4>Liability for content</h4>
<p>The content of our website has been created with the utmost care. However, we cannot assume any liability for the
    correctness, completeness and topicality of the contents. As a service provider, we are responsible for our own
    content on these pages in accordance with § 7 para.1 TMG (German Telemedia Act) and general laws. According to §§ 8
    to 10 TMG, however, we as a service provider are not obliged to monitor transmitted or stored third-party
    information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use
    of information in accordance with general legislation remain unaffected by this. However, liability in this respect
    is only possible from the time of knowledge of a specific infringement. As soon as we become aware of any such legal
    infringements, we will remove this content immediately.</p>
<h4>Liability for links</h4>
<p>Our website contains links to external third-party websites over whose content we have no influence. Therefore, we
    cannot accept any liability for this third-party content. The respective provider or operator of the pages is always
    responsible for the content of the linked pages. The linked pages were checked for possible legal violations at the
    time of linking. Illegal content was not recognizable at the time of linking. However, permanent monitoring of the
    content of the linked pages is not reasonable without concrete evidence of an infringement. If we become aware of
    any legal infringements, we will remove such links immediately.</p>
<h3>Copyright</h3>
<p>The content and works created by the site operators on these pages are subject to German copyright law. Duplication,
    processing, distribution and any form of commercialization of such material beyond the scope of the copyright law
    shall require the prior written consent of its respective author or creator. Downloads and copies of this site are
    only permitted for private, non-commercial use. Insofar as the content on this site was not created by the operator,
    the copyrights of third parties are respected. In particular, third-party content is identified as such. Should you
    nevertheless become aware of a copyright infringement, please inform us accordingly. If we become aware of any legal
    infringements, we will remove such content immediately.</p>
<h3>Privacy</h3>
<p>As a rule, it is possible to use our website without providing personal data. Insofar as personal data (e.g. name,
    address or e-mail addresses) is collected on our website, this is always done on a voluntary basis as far as
    possible. This data will not be passed on to third parties without your express consent.<br>We would like to point
    out that data transmission over the Internet (e.g. when communicating by e-mail) can have security gaps. Complete
    protection of data against access by third parties is not possible. <br>We hereby expressly prohibit the use of
    contact data published as part of our duty to provide a legal notice by third parties for the purpose of sending
    unsolicited advertising and information material. The operators of the pages expressly reserve the right to take
    legal action in the event of the unsolicited sending of advertising information, such as spam emails.</p>
<p>Imprint from the <a href='https://www.impressum-generator.de' target='_blank' rel='noopener noreferrer'>Imprint
        generator</a> of <a href='https://www.kanzlei-hasselbach.de/standorte/frankfurt/' target='_blank'
        rel='noopener noreferrer'>Kanzlei Hasselbach, Frankfurt</a></p>

<br>
<br>
<h3>Attribution / Image Sources</h3>

<p>"Maren Schulte": <a
        href="https://www.freepik.com/free-photo/woman-white-shirt-showing-emotions-blue_20999788.htm#query=portrait%20corporate&position=0&from_view=keyword&track=ais&uuid=51a0c92e-ef59-4a56-a3f0-73d22edbc835">Image
        by senivpetro on Freepik</a></p>
<p>"Karl-Heinz Müller": <a
        href="https://www.freepik.com/free-photo/portrait-business-man-wearing-formal-suit_13698352.htm">Image by
        freepik</a></p>
<p>"Sara Fischer": <a
        href="https://www.freepik.com/free-photo/afro-american-woman-smiling-close-up_5914041.htm#fromView=search&page=1&position=0&uuid=d2e83318-5a65-4271-b2a0-e117843ec661">Image
        by freepik</a></p>
<p>"Mia Weber": <a
        href="https://www.freepik.com/free-photo/asian-girl-with-laptop-smartphone-standing-street-city-centre-smiling-camera_34229359.htm">Image
        by benzoix on Freepik</a></p>
<p>"Amir Kovačević": <a
        href="https://www.freepik.com/free-photo/cheerful-handsome-man-wearing-casual-t-shirt-jeans-sitting-couch-home-keeping-hands-lap-looking-away-smiling-male-portrait-concept_11293719.htm">Image
        by pch.vector on Freepik</a></p>
<p>"Aylin Demir": <a href="https://www.freepik.com/free-photo/portrait-woman-wearing-formal-suit_13661544.htm">Image by
        freepik</a></p>
<p>"Fabio Beck": <a
        href="https://www.freepik.com/free-photo/blue-polo-shirt-casual-apparel-outdoor-shoot_15438438.htm">Image
        by rawpixel.com on Freepik</a></p>
<p>"Hassan Schmidt": <a
        href="https://www.freepik.com/free-photo/young-successful-businessman-smiling-holding-tablet-sitting-workplace_7591164.htm">Image
        by cookie_studio on Freepik</a></p>
<p>"Tobias Chen": <a
        href="https://www.freepik.com/free-photo/young-businessman-smiling_851247.htm#fromView=search&page=2&position=32&uuid=358ff76d-868e-4767-a2ed-47d94c6c2b15">Image
        by pressfoto on Freepik</a></p>
<p>"Mehmet Yilmaz": <a
        href="https://www.freepik.com/free-photo/happy-bearded-man-business-clothes-looking-camera_7500630.htm">Image
        by drobotdean on Freepik</a></p>
<p>Website Logo by <a href="https://logomakr.com/">logomakr.com</a></p>