<mat-card id="top-card" color="primary">

    <img id="profile-img" src="./assets/img/profile_placeholder.svg" alt="placeholder for profile">

    <mat-card-header>
        <mat-card-title>{{ user.firstName + ' ' + user.lastName }}</mat-card-title>
        <mat-card-subtitle>
            <a mat-raised-button href="mailto:{{ user.email }}">
                <mat-icon>mail</mat-icon>
                {{ user.email }}</a>
        </mat-card-subtitle>
    </mat-card-header>

    <button class="card-options" mat-icon-button [matMenuTriggerFor]="menu1">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu1="matMenu">
        <button mat-menu-item (click)="openDialog('name+email')">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
    </mat-menu>

</mat-card>

<mat-card id="bottom-card">

    <section>
        <mat-card-title>
            Address
        </mat-card-title>
        <div class="double-columns">
            <div>{{ user.street + ' ' + user.houseNumber }}</div>
            <div>{{ user.zipCode + ' ' + user.city }}</div>
        </div>

        <button class="card-options" mat-icon-button [matMenuTriggerFor]="menu2">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="openDialog('address')">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
        </mat-menu>

    </section>

    <mat-divider></mat-divider>

    <section>
        <mat-card-title>
            Date of Birth
        </mat-card-title>
        <div>
            {{ user.birthDate ?
            (this.dateService.returnTimestampAsDateString(user.birthDate) + ' (Age: ' +
            this.dateService.returnAge(user.birthDate)) + ')' : '' }}

        </div>

        <button class="card-options" mat-icon-button [matMenuTriggerFor]="menu3">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu3="matMenu">
            <button mat-menu-item (click)="openDialog('birthDate')">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
        </mat-menu>
    </section>

    <mat-divider></mat-divider>

    <section>
        <mat-card-title>
            Sales
        </mat-card-title>
        <div>
            Last purchase
        </div>

        <button class="card-options" mat-icon-button [matMenuTriggerFor]="menu4">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu4="matMenu">
            <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
        </mat-menu>
    </section>

</mat-card>

<button id="button-edit" mat-fab color="primary" matTooltip="Edit user" [matTooltipPosition]="'left'"
    (click)="openDialog('all')">
    <mat-icon>edit</mat-icon>
</button>

<button id="button-delete" mat-fab color="primary" matTooltip="Delete user" [matTooltipPosition]="'left'"
    (click)="openDeleteUserDialog()">
    <mat-icon>delete</mat-icon>
</button>