#button-add {
  position: absolute;
  right: 24px;
  bottom: 24px;
}




//Sorted Table
table {
  width: 100%;

  th.mat-sort-header-sorted {
    color: black;
  }

  tr {

    &:hover {
      cursor: pointer;
      outline: 1px solid white;
    }
  }

  tr[mat-header-row] {

    &:hover {
      cursor: unset;
      outline: none;
    }

  }
}