<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      First name
    </th>
    <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Last name
    </th>
    <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="birthDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
      Birth Date
    </th>
    <td mat-cell *matCellDef="let user">{{ user.birthDate ? (this.birthDateService.returnTimestampAsDate(user.birthDate) + ' ' + this.birthDateService.returnAge(user.birthDate)) : '-' }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
      E-mail
    </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <ng-container matColumnDef="street">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
      Street
    </th>
    <td mat-cell *matCellDef="let user"> {{user.street}} </td>
  </ng-container>

  <ng-container matColumnDef="houseNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
      House number
    </th>
    <td mat-cell *matCellDef="let user"> {{user.houseNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="zipCode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
      Zip code
    </th>
    <td mat-cell *matCellDef="let user"> {{user.zipCode}} </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
      City
    </th>
    <td mat-cell *matCellDef="let user"> {{user.city}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/user', row.id]"></tr>

</table>


<button id="button-add" mat-fab color="primary" matTooltip="Add user" [matTooltipPosition]="'left'"
  (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>