<h2 mat-dialog-title>Delete Transfer</h2>

<mat-dialog-content>

    <div>{{ transfer.title }}</div>

    <div>
        {{ 'Closed by: ' + transfer.closedBy + ' on ' + transfer.date }}
    </div>

    <div>
        {{ 'Amount: ' + transfer.amount }}
    </div>

</mat-dialog-content>

<mat-dialog-actions>

    <mat-checkbox color="warn" [(ngModel)]="deletionConfirmed">
        I understand that the transfer will be deleted permanently and cannot be restored.
    </mat-checkbox>

    <button cdkFocusInitial mat-button (click)="onNoClick()" [disabled]="loading">Cancel</button>
    <div [matTooltip]="deletionConfirmed ? '' : 'Accept checkbox to proceed'" [matTooltipPosition]="'right'">

        <button mat-button color="warn" (click)="deleteTransfer()"
            [disabled]="loading || !deletionConfirmed">Delete</button>
    </div>
</mat-dialog-actions>

<mat-progress-bar *ngIf="loading" id="progess-bar" mode="indeterminate"></mat-progress-bar>