#age-demographic-chart {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

app-cashflow-chart {
    display: flex;
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: 1;
    background: green;
}

#item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#item2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

#item3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#item4 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

.grid-item {
    padding: 20px;
    border: 1px solid gray;
}

.element1 {
    grid-column: 1;
    grid-row: 1;
    background-color: #ffcc00; /* yellow */
}

.element2 {
    grid-column: 2 / span 3;
    grid-row: 1;
    background-color: #3399ff; /* blue */
}

.element3 {
    grid-column: 1;
    grid-row: 2;
    background-color: #ff6666; /* red */
}

.element4 {
    grid-column: 2;
    grid-row: 2;
    background-color: #66cc66; /* green */
}

.element5 {
    grid-column: 3;
    grid-row: 2;
    background-color: #9966ff; /* purple */
}

.element6 {
    grid-column: 4;
    grid-row: 2;
    background-color: #ff9933; /* orange */
}