<!-- <mat-card id="age-demographic-chart">

    <mat-card-header>
        <mat-card-title>Contacts: Age demographic</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <canvas *ngIf="isBrowser" baseChart [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions">
        </canvas>

    </mat-card-content>
</mat-card>

<app-cashflow-chart></app-cashflow-chart>

<mat-card id="item1">

</mat-card>

<mat-card id="item2">

</mat-card>

<mat-card id="item3">

</mat-card>

<mat-card id="item4">

</mat-card> -->


<div class="grid-item element1">Element 1</div>
<div class="grid-item element2">Element 2</div>
<div class="grid-item element3">Element 3</div>
<div class="grid-item element4">Element 4</div>
<div class="grid-item element5">Element 5</div>
<div class="grid-item element6">Element 6</div>