<mat-chip-listbox multiple>

    <mat-chip-option [selected]="columnSelectorButtons.closedBy" (click)="toggleColumns(['closedBy'])">
        Closed by
    </mat-chip-option>

    <mat-chip-option [selected]="columnSelectorButtons.date" (click)="toggleColumns(['date'])">
        Date
    </mat-chip-option>

    <mat-chip-option [selected]="columnSelectorButtons.payer" (click)="toggleColumns(['payer'])">
        Payer
    </mat-chip-option>

    <mat-chip-option [selected]="columnSelectorButtons.recipient" (click)="toggleColumns(['recipient'])">
        Recipient
    </mat-chip-option>

    <mat-chip-option [selected]="columnSelectorButtons.type" (click)="toggleColumns(['type'])">
        Type
    </mat-chip-option>

    <mat-chip-option [selected]="columnSelectorButtons.amount" (click)="toggleColumns(['amount'])">
        Amount
    </mat-chip-option>

</mat-chip-listbox>


<div id="sort-mobile">
    <mat-form-field>
        <mat-label>Sort by</mat-label>
        <mat-select (selectionChange)="sortTableMobile($event.value)">
            <mat-option [value]="'title'">Title</mat-option>
            <mat-option [value]="'date'">Date</mat-option>
            <mat-option [value]="'closedBy'">Closed by</mat-option>
            <mat-option [value]="'amount'">Amount</mat-option>
            <mat-option [value]="'type'">Type</mat-option>
            <mat-option [value]="'payer'">Payer</mat-option>
            <mat-option [value]="'recipient'">Recipient</mat-option>
        </mat-select>
    </mat-form-field>

    <button *ngIf="mobileSort.directionPicker" mat-icon-button (click)="changeSortDirectionMobile()">
        <mat-icon [innerHTML]="mobileSort.directionPickerIcon"></mat-icon>
    </button>
</div>



<mat-table id="table-desktop" [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">
            Title
        </mat-header-cell>
        <mat-cell *matCellDef="let transfer">
            {{transfer.title}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
            Date
        </mat-header-cell>
        <mat-cell *matCellDef="let transfer">
            {{dateService.returnTimestampAsDateString(transfer.date)}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="closedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by closed by">
            Closed by
        </mat-header-cell>
        <mat-cell *matCellDef="let transfer">
            {{transfer.closedBy}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amount">
            Amount
        </mat-header-cell>
        <mat-cell *matCellDef="let transfer">
            {{transfer.amount}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type">
            Type
        </mat-header-cell>
        <mat-cell *matCellDef="let transfer">
            {{transfer.type}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="payer">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by payer">
            Payer
        </mat-header-cell>
        <mat-cell *matCellDef="let transfer">
            {{transfer.payer}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="recipient">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by recipient">
            Recipient
        </mat-header-cell>
        <mat-cell *matCellDef="let transfer">
            {{transfer.recipient}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="options">
        <mat-header-cell class="options-cell" *matHeaderCellDef>
        </mat-header-cell>
        <mat-cell class="options-cell" *matCellDef="let transfer">

            <button mat-icon-button [matMenuTriggerFor]="rowMenu" (click)="setDocumentInFocus(transfer.id); $event.stopPropagation();">
                <mat-icon>more_vert</mat-icon>
            </button>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let transfer; columns: displayedColumns;" [routerLink]="['/transfers', transfer.id]">
    </mat-row>


</mat-table>





<!-- stacked list table (for mobile view) -->
<mat-card id="table-mobile">

    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="title">
            <mat-cell class="title" *matCellDef="let transfer">
                {{transfer.title}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="closedBy">
            <mat-cell class="closedBy" *matCellDef="let transfer">
                {{ 'Closed by: ' + transfer.closedBy}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
            <mat-cell class="date" *matCellDef="let transfer">
                {{dateService.returnTimestampAsDateString(transfer.date)}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-cell class="amount" *matCellDef="let transfer">
                {{transfer.amount}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-cell class="type" *matCellDef="let transfer">
                {{transfer.type}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="payer">
            <mat-cell class="payer" *matCellDef="let transfer">
                {{ 'Payer: ' + transfer.payer}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="recipient">
            <mat-cell class="recipient" *matCellDef="let transfer">
                {{ 'Recipient: ' + transfer.recipient}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="options">
            <mat-cell class="options-cell" *matCellDef="let transfer">

                <button mat-icon-button [matMenuTriggerFor]="rowMenu" (click)="setDocumentInFocus(transfer.id); $event.stopPropagation();">
                    <mat-icon>more_vert</mat-icon>
                </button>

            </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let transfer; columns: displayedColumns;" [routerLink]="['/transfers', transfer.id]">
        </mat-row>


    </mat-table>
</mat-card>


<button id="button-add" mat-fab color="primary" matTooltip="Add transfer" [matTooltipPosition]="'left'"
    (click)="openAddTransferDialog()">
    <mat-icon>add</mat-icon>
</button>


<mat-menu #rowMenu="matMenu">
    <button mat-menu-item (click)="openEditTransferDialog()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
    </button>
    <button mat-menu-item (click)="openDeleteTransferDialog()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
    </button>
</mat-menu>