#button-add {
  position: fixed;
  right: 24px;
  bottom: 24px;
}

//Sorted Table
mat-table {
  width: 100%;

  mat-row {

    &:hover {
      cursor: pointer;
      outline: 1px solid white;
    }

    mat-cell {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  mat-header-row {

    &:hover {
      cursor: unset;
      outline: none;
    }

  }

  .options-cell {
    box-sizing: content-box;
    width: 48px;
    flex: unset;
    padding: 0 8px;
  }
}

#sort-mobile {

  display: flex;
  align-items: center;
  gap: 16px;

  mat-form-field {
    width: 200px;

  }

  button {
    margin-bottom: 22px;
  }
}





@media (max-width: 1200px) {

  #table-desktop {
    display: none;
  }


  mat-table {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    box-shadow: none;

    mat-row {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border: unset;
      border-bottom-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
      border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
      border-bottom-style: solid;
      padding: 24px 0;

      display: grid;
      grid-template-columns: repeat(2, calc(50% - 8px));
      grid-template-rows: repeat(4);
      column-gap: 16px;
      position: relative;

      .title {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
      }

      .closedBy {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
      }

      .date {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
      }

      .payer {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
      }

      .recipient {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
      }

      .type {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
      }

      .amount {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
      }


      .options-cell {
        position: absolute;
        right: 16px;
        top: 16px;
      }

      .empty-cell {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
      }
    }


    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border: unset;
      padding-bottom: 0;
    }

    mat-cell {
      border: none;
      padding: 0 16px;
    }

    mat-header-cell {
      display: none;
    }
  }
}

@media (min-width: 1201px) {

  #sort-mobile {

    display: none;
  }

  #table-mobile {
    display: none;
  }
}