html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-transfers-table,
app-contacts-table,
app-employees-table {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

app-contact-detail,
app-transfer-detail,
app-employee-detail {
    display: flex;
    flex-direction: column;
    gap: 16px;
}