html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-contact-detail {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

app-contacts-table {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

app-transfers-table {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

app-transfer-detail {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
