html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-transfers-table,
app-contacts-table,
app-employees-table {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

app-contact-detail,
app-transfer-detail,
app-employee-detail {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

app-dashboard {
    width: 100%;
    height: calc(100vh - 90px);
    border: 1px solid red;
    // display: grid;
    // grid-template-columns: repeat(4, calc(25% - 16px));
    // grid-template-rows: repeat(2, 1fr) ;
    // gap: 16px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 16px;
}