<h2 mat-dialog-title>Edit Transfer</h2>

<mat-dialog-content>

    <div id="inputs">

        @if (
        fieldsToEdit === 'title' ||
        fieldsToEdit === 'all'
        ) {

        <mat-form-field appearance="outline" [color]="'accent'">
            <mat-label>Title</mat-label>
            <input cdkFocusInitial matInput [(ngModel)]="transfer.title" type="text" required [disabled]="loading">
        </mat-form-field>

        }

        @if (
        fieldsToEdit === 'payer+recipient' ||
        fieldsToEdit === 'all'
        ) {
        <div class="inputs-row">

            <mat-form-field appearance="outline" [color]="'accent'">
                <mat-label>Payer</mat-label>
                <input type="text" matInput [formControl]="contactPicker1" [matAutocomplete]="auto1"
                    [value]="transfer.payer" required>

                <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">

                    @for (contact1 of contactPickerFilteredOptions1 | async; track contact1; let index = $index ) {
                    <mat-option [value]="contact1">{{contact1}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>



            <mat-form-field appearance="outline" [color]="'accent'">
                <mat-label>Recipient</mat-label>
                <input type="text" matInput [formControl]="contactPicker2" [matAutocomplete]="auto2"
                    [value]="transfer.recipient" required>

                <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">

                    @for (contact2 of contactPickerFilteredOptions2 | async; track contact2; let index = $index ) {
                    <mat-option [value]="transfer.recipient">{{contact2}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>


        </div>
        }

        @if (
        fieldsToEdit === 'type+amount' ||
        fieldsToEdit === 'all'
        ) {
        <div class="inputs-row">
            <mat-form-field appearance="outline" [color]="'accent'">
                <mat-label>Type</mat-label>
                <mat-select required [disabled]="loading" [(value)]="transfer.type">
                    <mat-option value="Sale">{{'Sale'}}</mat-option>
                    <mat-option value="Purchase">{{'Purchase'}}</mat-option>
                    <mat-option value="Refund">{{'Refund'}}</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline" [color]="'accent'">
                <mat-label>Amount</mat-label>
                <input matInput [(ngModel)]="transfer.amount" type="number" required [disabled]="loading">
            </mat-form-field>
        </div>
        }

        @if (
        fieldsToEdit === 'closedBy+date' ||
        fieldsToEdit === 'all'
        ) {
        <div class="inputs-row">

            <mat-form-field appearance="outline" [color]="'accent'">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="date" required [disabled]="loading"
                    [max]="dateService.getToday()">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <mat-form-field appearance="outline" [color]="'accent'">
                <mat-label>Closed by</mat-label>
                <input type="text" matInput [formControl]="employeePicker" [matAutocomplete]="auto3"
                    [value]="transfer.closedBy" required>

                <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete">

                    @for (employee of employeePickerFilteredOptions | async; track employee; let index = $index ) {
                    <mat-option [value]="index">{{employee}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
        </div>
        }

        @if (
        fieldsToEdit === 'description' ||
        fieldsToEdit === 'all'
        ) {
            
        <mat-form-field appearance="outline" [color]="'accent'">
            <mat-label>Description</mat-label>
            <textarea matInput [disabled]="loading"></textarea>
        </mat-form-field>
        }

    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="onNoClick()" [disabled]="loading">Cancel</button>
    <button mat-button (click)="saveEdits()" [disabled]="loading">Save</button>
</mat-dialog-actions>

<mat-progress-bar *ngIf="loading" id="progess-bar" mode="indeterminate"></mat-progress-bar>