<div id="single-row-container" class="stats-card" routerLink="./../contacts">
    <mat-card-title>
        Contacts
    </mat-card-title>
    {{commonService.returnCollectionByName('contacts').length}}
</div>

<div id="double-row-container">
    <div class="stats-card" routerLink="./../transfers">
        <mat-card-title>
            Transfers
        </mat-card-title>
        {{commonService.returnCollectionByName('transfers').length}}
    </div>


    <div class="stats-card" routerLink="./../employees">
        <mat-card-title>
            Employees
        </mat-card-title>
        {{commonService.returnCollectionByName('employees').length}}
    </div>
</div>