.stats-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #424242;
    border-radius: 16px;
    height: calc(100% - 32px);
    width: 100%;
    padding: 16px;

    &:hover {
        background-color: rgba(66, 66, 66, 0.5);
        cursor: pointer;
    }

    .number {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex: 1;
        font-size: 64px;
        font-weight: bold;
    }

    @media (max-width: 1200px) {
        min-height: 120px;
    }
}

#single-row-container {
    height: calc(50% - 40px);
    width: calc(100% - 32px);
}

#double-row-container {
    display: flex;
    gap: 16px;
    width: 100%;
    height: calc(50% - 8px);

    div {
        width: calc(50% - 40px)
    }
}

mat-card-title {
    font-size: 24px;
    padding-top: 16px;
}